<%- include('./header') %>

<div class="row">
    <div class="col-lg-6 col-xl-6 col-md-0 mx-auto">
        <div class="alert alert-info text-center my-3 d-block"> <h6>REGISTER FORM</h6> </div>
        <div class="form my-auto align-middle">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="basic-addon1"><i class="far fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control form-control-lg form-control-block" aria-label="Username" placeholder="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="basic-addon1"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control form-control-lg form-control-block" aria-label="Password" placeholder="Password"  aria-describedby="basic-addon2">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text bg-primary text-white" id="basic-addon1"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control form-control-lg form-control-block" aria-label="Password" placeholder="Password"  aria-describedby="basic-addon2">
            </div>
            <div class=" mx-5">
                <button class="btn btn-primary btn-block btn-border-2 py-3" type="button"> REGISTER </button>
            </div>
        </div>
    </div>
</div>
<%- include('./footer') %>